/* Theme Color */
:root {
  --main-color: #1abc9c;
}

/* Top Nav */

#topmenu{
	height: 82px;
	padding: 0px 40px;
}

#headerlogo{
	float: left;
	margin-top: 20px;
}

#headerlogo .logo{
	font-size: 30px;
	font-weight: 700;
}

#topmenu a{
	font-size: 18px;
	color:white;
}

#topmenu a:hover{
	text-decoration: none;
	color: #d35400 ;
}

#navigation{
	float: right;
	height: 80px;
}

#navigation a{
	display: inline-block;
	height: 80px;
	padding: 30px 30px;

}

#navigation a:hover{
	color: white;
	background-color: var(--main-color);

}

.signin{
	color:#1abc9c;
border:1px solid var(--main-color);
border-radius: 15px;
padding: 0 0 !important;
/*overflow: hidden;*/
}

/* Body */
body h1, h2, h3, h4{
	color:white;
	margin-bottom: 30px;
}

body{
	font-family: 'Ubuntu', 'Arial';
	font-size: 18px;
}


/* Wrapper */
.test{
		background-image: url("../images/entrepreneur.jpg");	
background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

}

#wrapper{
	height: 600px;
 	
	padding:150px 50px;
}

#wrapper h1{
	text-shadow: 2px 2px 5px rgba(211,84,22);
	font-size:56px;
}


#wrapper h2{
	/*text-shadow: 1px 1px 3px #16a085;*/
	font-size:30px;
	margin-bottom: 50px;
}

.cta{
	padding:10px 30px 10px 30px;
	font-size: 18px;
	background-color: #1abc9c;
	color:white;
}

.cta:hover{
	background-color: #00C8D3;
	color:white;
	border:1px solid #009DA6;
}

#wrapper .cours-container{
	background-color: white;
	color:#00799B;
	padding:20px 30px;
	border-radius: 15px;
		box-shadow: 2px 2px 5px rgba(211,84,22);

}

#wrapper .cours-container .cours-header{
	color:#9A938B;
	border-bottom: 1px solid #c9c9c9;

}

#wrapper .cours-container h3{
color:#1abc9c;
}

#wrapper .cours-container .cours-body{
	color:#9A938B;

}

/* Comment ça marche */
.fa{
	color:var(--main-color);
	font-size: 30px;
}

/* Spacers */
.spacer{
	height: 150px;
}

.spacer-sm{
	height: 60px;
}
