/* Theme Color */
:root {
  --main-color: #1abc9c;
}

/* Top Nav */

#topnav{
	height: 82px;
	padding: 0px 40px;
}

#topnav a{
	font-size: 18px;
	color:white;
}

#topnav a:hover{
	text-decoration: none;
	color: var(--main-color);
}
/* les 4 "#topnavaprpos" sont pour 
la page propos.html concernant le header de celle ci*/

#topnavapropos{
	height: 82px;
	padding: 0px 40px;
	background-color: #c0c0c0;
}

#topnavapropos a{
	font-size: 18px;
	color:white;
}

#topnavapropos a:hover{
	text-decoration: none;
	color: var(--main-color);
}

#headerlogo{
	float: left;
	margin-top: 20px;
}

#headerlogo .logo{
	font-size: 30px;
	font-weight: 700;
}

#navigation{
	float: right;
	height: 82px;
}

#navigation.main-menu{
	margin-top: 26px;
}

#navigation a{
	display: inline-block;
	padding: 5px 20px;
}

#navigation a:hover{
	color: var(--main-color);

}

/* Body */

body{
	font-family: 'Ubuntu', 'Arial';
	font-size: 18px;
	color:#9A938B;
	background-color: #F4F4F4;

}

body h1, h2{
	font-weight: 700;
	color:grey;
	margin-bottom: 30px;
}

body h3, h4
{
	color: var(--main-color);
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 30px;
}

/* Wrapper */
.background-image{
	background-image: url("../images/entrepreneur.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

}

#wrapper{
	min-height: 600px;
	padding:100px 50px;
}

#wrapper h1{
	text-shadow: 2px 2px 5px rgba(211,84,22);
	font-size:48px;
	color:white;
	margin-top:60px; 
}


#wrapper h2{
	/*text-shadow: 1px 1px 3px #16a085;*/
	font-size:25px;
	margin-bottom: 50px;
	color:white;
}

.cta{
	padding:10px 30px 10px 30px;
	font-size: 18px;
	background-color: var(--main-color);
	color:white;
}

.cta:hover{
	background-color: var(--main-color);
	color:white !important;
	border:1px solid var(--main-color);
}

#wrapper .cours-container{
	background-color: white;
	color:#00799B;
	padding:20px 30px;
	border-radius: 15px;
		box-shadow: 2px 2px 5px rgba(211,84,22);

}

#wrapper .cours-container .cours-header{
	color:#9A938B;
	border-bottom: 1px solid #c9c9c9;

}

#wrapper .cours-container h3{
color:#1abc9c;
}

#wrapper .cours-container .cours-body{
	color:#9A938B;

}

/* Presentation */
#content h2{
	margin-bottom: 60px;
}

.box-sm{
	background-color: white;
	min-height: 300px;
	padding: 40px 20px 10px 20px;
	box-shadow: 2px 2px 5px #c9c9c9;
	margin-bottom: 15px;
}

/* Comment ça marche */


/* Supports */
#supports{
	background-color: white;
	padding: 0px 10px 0px 40px;
}

#supports h3{
	color:black;
}

.supports-logo{
	margin-top: 22px;
}

/* Footer */
#footer{
	background-color: grey;
	color: white;
}

#footer h4{
	color: white;
}

#footer ul{

	list-style: none;
    padding-left: 0;
    line-height: 1.8;

}

#footer a{
	color: var(--main-color) ;

}

#copyright{
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Icons */
.fa{
	color:var(--main-color);
	font-size: 30px;
}

.fb-icon{
	height: 42px;
}

/* Spacers */
.spacer{
	height: 150px;
}

.spacer-sm{
	height: 45px;
}

/* texte et mise en page de la feuille propos.html */




