/* Top Nav */

#topmenu{
	height: 80px;
	padding: 0px 40px;
}

#headerlogo{
	float: left;
	margin-top: 20px;
}

#headerlogo .logo{
	font-size: 30px;
	font-weight: 700;
}

#topmenu a{
	font-size: 18px;
	color:#E8780C;
}

#topmenu a:hover{
	text-decoration: none;
	color: #CF6A0A ;
}

#navigation{
	float: right;
	height: 80px;
}

#navigation a{
	display: inline-block;
	height: 80px;
	padding: 30px 30px;

}

#navigation a:hover{
	color: white;
	background-color: #E8780C;
}

/* Body */
body h2, h3, h4{
	color:#7E8F7C;
	margin-bottom: 30px;
}

body{
	font-family: 'Open Sans', 'Arial';
	font-size: 18px;
}


/* Wrapper */

#wrapper{
	height: 600px;
	background-image: url("../images/conference-room.jpg");	
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   box-shadow: inset 0 0 0 1000px rgba(230,230,230,0.6);
	padding:150px 50px;
}

#wrapper h1{
	color: #E8780C;
	text-shadow: 2px 2px 5px #9A938B;
	font-size:70px;
}


#wrapper h2{
	color: #E8780C;
	text-shadow: 1px 1px 3px #9A938B;
	font-size:24px;
	margin-bottom: 50px;
}

.cta{
	padding:10px 30px 10px 30px;
	font-size: 18px;
	background-color: #0CB8E8;
	color:white;
}

.cta:hover{
	background-color: #0CB8E8;
	color:white;
	border:1px solid #00799B;
}

#wrapper .cours-container{
	background-color: white;
	color:#00799B;
	padding:20px 30px;
	border-radius: 15px;
		box-shadow: 2px 2px 5px #9A938B;

}

#wrapper .cours-container .cours-header{
	color:#9A938B;
	border-bottom: 1px solid #c9c9c9;

}

#wrapper .cours-container h3{
	color:#E8780C;

}

#wrapper .cours-container .cours-body{
	color:#9A938B;

}

/* Comment ça marche */
.fa{
	color:#C63D0F;
	font-size: 30px;
}

/* Spacers */
.spacer{
	height: 150px;
}

.spacer-sm{
	height: 60px;
}
